<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hi ! Welcome</title>
    <link rel="stylesheet" href="connect.css">

        
</head>
<body>
    <div class="wrapper">
    <form method="POST" action="/connection">
        <h1> Se connecter </h1>
        <div class="input-box">
            <input type="text" placeholder="Pseudo " name="username" required>
        </div>
    <div class="input-box">
       
        <input type="password" name="password" placeholder ="mot de passe">

    </div>
        <button method="post" id ="btn2" type="submit" class="button" name="submit" value="submit"> Me connecter</button>
        <div class="lien-connection">
            <p>Tu n'est pas encore membre de la ruche ?</p> <a href="/">S'inscrire</a></a></p>
        </div>
        </form>
    </div>
    
</body>
</html>