<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Little Bee</title>
    <link rel="stylesheet" href="welcome.css">
</head>

<body>

<nav>

<section class="text">
    <h1>HiveTalk Chat</h1>
    <p>Bienvenue dans HiveTalk, l'application de messagerie où vous pouvez converser avec vos amis en privé ou rejoindre des conversations animées dans nos canaux publics. <br>
    Partagez des anecdotes bourdonnantes, échangez des idées sucrées et explorez la magie de la communication au sein de notre communauté vibrante. </p>

    <a href="#">Démarrer un chat privé</a> <a href="/channels"> Démarrer un canal </a>
    
</nav>

</section>

</body>
</html>